<section class="modal-box" data-role="modal-content">
	<div class="slider" data-module="slider">
		<div class="slider__items" data-role="slider-list">
			<div class="slider__slide" data-role="slider-slide" >
				<img src="http://unsplash.it/800/500" class="cover-img">
				<div class="slider__caption">
					<p>1. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero molestiae dolor voluptas sunt consequuntur? Quisquam possimus.</p>
				</div>
				</div>
				<div class="slider__slide" data-role="slider-slide" >
					<img src="http://unsplash.it/800/500" class="cover-img">
					<div class="slider__caption">
						<p>2. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero molestiae dolor voluptas sunt consequuntur? Quisquam possimus.</p>
					</div>
				</div>
				<div class="slider__slide" data-role="slider-slide" >
					<img src="http://unsplash.it/800/500" class="cover-img">
					<div class="slider__caption">
						<p>3. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero molestiae dolor voluptas sunt consequuntur? Quisquam possimus.</p>
					</div>
				</div>
				<div class="slider__slide" data-role="slider-slide" >
					<img src="http://unsplash.it/800/500" class="cover-img">
					<div class="slider__caption">
						<p>4. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero molestiae dolor voluptas sunt consequuntur? Quisquam possimus.</p>
				</div>
			</div>
		</div>
		<div class="slider__arrows">
			<button class="slider__arrow slider__arrow--prev" data-role="slider-arrow" data-direction="prev"></button>
			<button class="slider__arrow slider__arrow--next" data-role="slider-arrow" data-direction="next"></button>
		</div>
	</div>
</section>
<script src="../dist/js/main.min.js"></script>