<section class="modal-box" data-role="modal-content">
	<div class="slider" data-module="slider">
		<div class="slider__items" data-role="slider-list">
			<div class="slider__slide" data-role="slider-slide" >
				<articule class="box box--iframe">
					<figure class="box__figure ratio-16-9">
						<iframe src="https://www.youtube.com/embed/88ozZEt5FiU" frameborder="0" allowfullscreen></iframe>
					</figure>
				</articule>
			</div>
			<div class="slider__slide" data-role="slider-slide" >
				<articule class="box box--iframe">
					<figure class="box__figure ratio-16-9">
						<iframe src="https://www.youtube.com/embed/cIyVNoY3_L4" frameborder="0" allowfullscreen></iframe>
					</figure>
				</articule>
			</div>
			<div class="slider__slide" data-role="slider-slide" >
				<articule class="box box--iframe">
					<figure class="box__figure ratio-16-9">
						<iframe src="https://www.youtube.com/embed/vlDzYIIOYmM" frameborder="0" allowfullscreen></iframe>
					</figure>
				</articule>
			</div>
		</div>
		<div class="slider__arrows">
			<button class="slider__arrow slider__arrow--prev" data-role="slider-arrow" data-direction="prev"></button>
			<button class="slider__arrow slider__arrow--next" data-role="slider-arrow" data-direction="next"></button>
		</div>
	</div>
</section>
<script src="../dist/js/main.min.js"></script>