<section class="modal-box" data-role="modal-content">
	<articule class="box box--iframe">
		<figure class="box__figure ratio-16-9">
			<iframe src="https://www.youtube.com/embed/88ozZEt5FiU?autoplay=1" frameborder="0" allowfullscreen></iframe>
		</figure>
	</articule>
</section>
<script src="../dist/js/main.min.js"></script>